<!-- <div class="sayfa">
  <form [formGroup]="categoryForm" (ngSubmit)="submit()">
    <div class="mb-3">
      <label for="txtName" class="form-label">Kategori Adı</label>
      <input
        formControlName="categoryName"
        type="text"
        class="form-control"
        id="txtName"
        aria-describedby="categoryName"
      />
    </div>

    <button class="btn btn-primary" type="submit">Kategori Oluştur</button>
    <button class="btn btn-warning ms-2" [routerLink]="['..']">Geri</button>
  </form>
</div> -->
