<!-- TABLE MODAL -->
<app-table
  [tableData]="tableData"
  [columns]="columns"
  (navigateCreateDialogEvent)="openCreateEmployeeDialog()"
  (navigateUpdateDialogEvent)="openUpdateEmployeeDialog($event)"
  (navigateDeleteDialogEvent)="setSelectedEmployee($event.id)"
  (navigateSettingsEvent)="navigateSettings()"
  (refreshEvent)="ngOnInit()"
  (paginationEvent)="onPageChange($event)"
></app-table>

<!-- DELETE MODAL -->
<app-delete-modal
  [description]="deleteDialogDescription"
  (deleteEvent)="deleteEmployee(id)"
></app-delete-modal>
