<h2 mat-dialog-title>{{ title }}</h2>
<mat-dialog-content class="mat-typography">
  <!-- <h5 class="modal-title" id="updateModalLabel">{{ title }}</h5> -->
  <form [formGroup]="createForm">
    <div class="formBox form-group" formArrayName="values">
      <div
        class="inputBox w100"
        *ngFor="let value of values.controls; let i = index"
      >
        <input formControlName="{{ i }}" required style="margin-top: 5px" />
        <label [for]="'input_' + i">{{ inputLabels[i] }}</label>
      </div>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions class="btn-dialog" align="end">
  <div class="btn-modal">
    <button type="button" class="btn btn-outline-secondary" (click)="close()">
      Vazgeç
    </button>
    <button
      (click)="create()"
      type="submit"
      class="btn btn-outline-primary"
      [disabled]="createForm.invalid"
    >
      Ekle
    </button>
  </div>
</mat-dialog-actions>
