<h2 mat-dialog-title>{{ title | translate }}</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="createForm">
    <div class="formBox form-group" formArrayName="values">
      @for (values of values.controls; track $index) {
      <div class="inputBox w100">
        <input
          formControlName="{{ $index }}"
          required
          style="margin-top: 5px"
        />
        <label [for]="'input_' + $index">{{
          inputLabels[$index] | translate
        }}</label>
      </div>
      }
      <div class="inputBox w100" *ngIf="showDropdown">
        <select>
          @for (option of dropdownOptions; track $index) {
          <option formControlName="{{ $index }}" [value]="dropdownOptions">
            {{ option.name }}
          </option>
          }
        </select>
      </div>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions class="btn-dialog" align="end">
  <div class="btn-modal">
    <button type="button" class="btn btn-outline-secondary" (click)="close()">
      {{ "cancelButton" | translate }}
    </button>
    <button
      (click)="create()"
      type="submit"
      class="btn btn-outline-primary"
      [disabled]="!createForm.valid"
    >
      {{ "createButton" | translate }}
    </button>
  </div>
</mat-dialog-actions>
