<!-- TABLE MODAL -->
<app-table
  [tableData]="tableData"
  [columns]="columns"
  (navigateCreateDialogEvent)="openCreateCustomerDialog()"
  (navigateUpdateDialogEvent)="openUpdateCustomerDialog($event)"
  (navigateDeleteDialogEvent)="setSelectedCustomer($event.id)"
  (navigateSettingsEvent)="navigateSettings()"
  (refreshEvent)="ngOnInit()"
  (paginationEvent)="onPageChange($event)"
></app-table>

<!-- DELETE MODAL -->
<app-delete-modal
  [description]="deleteDialogDescription"
  (deleteEvent)="deleteCustomer(id)"
></app-delete-modal>
