<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 sidebar">
      <ul>
        <strong
          [routerLink]="['/menu']"
          [relativeTo]="route"
          class="bd-links-heading d-flex w-100 align-items-center fw-semibold mt-3"
          ><img src="../assets/img/logo.png" alt=""
        /></strong>
        <li class="bd-links-group py-4">
          <ul class="list-unstyled fw-normal pb-2 small">
            <li class="bd-links-group py-2">
              <a
                [routerLink]="['./shelf-list']"
                [relativeTo]="route"
                [routerLinkActive]="'active'"
                >Raflar</a
              >
            </li>
            <li class="bd-links-group py-2">
              <a
                [routerLink]="['./category-list']"
                [relativeTo]="route"
                [routerLinkActive]="'active'"
                >Kategoriler</a
              >
            </li>
            <li class="bd-links-group py-2">
              <a
                [routerLink]="['./product-list']"
                [relativeTo]="route"
                [routerLinkActive]="'active'"
                class="bd-links-group py-2"
                >Ürünler</a
              >
            </li>
            <li class="bd-links-group py-2">
              <a [routerLinkActive]="'active'">Siparişler</a>
            </li>
            <li class="bd-links-group py-2">
              <a
                [routerLink]="['./customer-list']"
                [relativeTo]="route"
                [routerLinkActive]="'active'"
                >Müşteriler</a
              >
            </li>
            <li class="bd-links-group py-2">
              <a
                [routerLink]="['./supplier-list']"
                [relativeTo]="route"
                [routerLinkActive]="'active'"
                >Tedarikçiler</a
              >
            </li>
            <li class="bd-links-group py-2">
              <a
                [routerLink]="['./employee-list']"
                [relativeTo]="route"
                [routerLinkActive]="'active'"
                >Personeller</a
              >
            </li>
            <li class="bd-links-group py-2">
              <a [routerLinkActive]="'active'">Raporlar</a>
            </li>
          </ul>
        </li>
      </ul>

      <div class="dropup-center dropup">
        <button
          class="btn btn-secondary dropdown-toggle w-50"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Ayarlar
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item">Kullanıcı Ayarları</a></li>
          <li><a class="dropdown-item" (click)="logout()">Çıkış</a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-10" style="padding: 0px">
      <router-outlet />
    </div>
  </div>
</div>
