<!-- <div class="sayfa">
    <form [formGroup]="acceptProductForm" (ngSubmit)="submit()">
      <div class="mb-3">
        <label for="">Ürün Seçiniz</label>
        <select formControlName="productId" class="form-select my-2 mb-3">
          @for (item of productList; track $index) {
          <option [value]="item.id">{{ item.productName }}</option>
          }
        </select>

        <label for="txtCount" class="form-label">Adet</label>
        <input
          formControlName="count"
          type="number"
          class="form-control"
          id="txtCount"
          aria-describedby="count"
        />
      </div>
  
     
  
      <button class="btn btn-primary" type="submit">Ürün Girişi</button>
      <button class="btn btn-warning ms-2" [routerLink]="['..']">Geri</button>
    </form>
  </div> -->
<!-- Modal -->
