<app-navbar
  [showAcceptProductButton]="true"
  (refreshEvent)="ngOnInit()"
  (navigateCreateDialogEvent)="openCreateShelfDialog()"
  (navigateAcceptProductEvent)="openAcceptProductDialog($event)"
  (generatePdfEvent)="generatePDF()"
  (onSearchInputChangeEvent)="onSearchInputChange($event)"
></app-navbar>

<!-- TABLE MODAL -->
<app-table
  [totalPages]="totalPages"
  [tableTitle]="tableTitle"
  [tableData]="tableData"
  [columns]="columns"
  (navigateUpdateDialogEvent)="openUpdateShelfDialog($event)"
  (navigateDeleteDialogEvent)="setSelectedShelf($event.id)"
  (paginationEvent)="onPageChange($event)"
></app-table>

<!-- DELETE MODAL -->
<app-delete-modal
  [description]="deleteDialogDescription"
  (deleteEvent)="deleteShelf(id)"
></app-delete-modal>

<!-- ACCEPT PRODUCT MODAL -->
<!-- <div
  class="modal fade"
  id="acceptProductModal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Ürün Girişi</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form [formGroup]="acceptProductForm">
        <div style="margin: 20px" class="mb-3">
          <label for="">Ürün Seçiniz</label>
          <select formControlName="productId" class="form-select my-2 mb-3">
            @for (item of productList; track $index) {
            <option [value]="item.id">{{ item.productName }}</option>
            }
          </select>

          <label for="txtCount" class="form-label">Adet</label>
          <input
            formControlName="count"
            type="number"
            class="form-control"
            id="txtCount"
            aria-describedby="count"
          />
        </div>
      </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Vazgeç
        </button>
        <button
          type="submit"
          class="btn btn-danger img-button"
          data-bs-dismiss="modal"
          (click)="acceptProduct()"
        >
          Ekle
        </button>
      </div>
    </div>
  </div>
</div> -->
