<!-- TABLE MODAL -->
<app-table
  [tableData]="tableData"
  [columns]="columns"
  (navigateCreateDialogEvent)="openCreateSupplierDialog()"
  (navigateUpdateDialogEvent)="openUpdateSupplierDialog($event)"
  (navigateDeleteDialogEvent)="setSelectedSupplier($event.id)"
  (navigateSettingsEvent)="navigateSettings()"
  (refreshEvent)="ngOnInit()"
  (paginationEvent)="onPageChange($event)"
></app-table>

<!-- DELETE MODAL -->
<app-delete-modal
  [description]="deleteDialogDescription"
  (deleteEvent)="deleteSupplier(id)"
></app-delete-modal>
