<!-- <div class="sayfa" style="margin: 20px">
  <form [formGroup]="saleForm" (ngSubmit)="submit()">
    <label for="">Ürün Seçiniz</label>
    <select formControlName="productId" class="form-select my-2 mb-3">
      @for (item of productList; track $index) {
      <option [value]="item.id">{{ item.productName }}</option>
      }
    </select>

    <label for="">Müşteri Seçiniz</label>
    <select formControlName="customerId" class="form-select my-2 mb-3">
      @for (item of customerList; track $index) {
      <option [value]="item.id">{{ item.companyName }}</option>
      }
    </select>

    <label for="">Personel Seçiniz</label>
    <select formControlName="userId" class="form-select my-2 mb-3">
      @for (item of employeeList; track $index) {
      <option [value]="item.id">
        {{ item.firstName + " " + item.lastName }}
      </option>
      }
    </select>

    <div class="mb-3">
      <label for="txtCount" class="form-label">Adet</label>
      <input
        formControlName="count"
        type="number"
        class="form-control"
        id="txtCount"
        aria-describedby="count"
      />
    </div>

    <button class="btn btn-primary" type="submit">Satışı Tamamla</button>
  </form>
</div> -->

<!-- <div
  style="
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  "
>
  <form [formGroup]="saleProductForm" (ngSubmit)="submit()">
    <div class="nestedFb">
      <label for="customerId">Müşteri Seçiniz</label>
      <select formControlName="customerId" class="form-select my-2 mb-3">
        @for (item of customerList; track $index) {
        <option [value]="item.id">{{ item.companyName }}</option>
        }
      </select>
      <label for="userId">Personel Seçiniz</label>
      <select formControlName="userId" class="form-select my-2 mb-3">
        @for (item of employeeList; track $index) {
        <option [value]="item.id">
          {{ item.firstName + " " + item.lastName }}
        </option>
        }
      </select>
    </div>

    <div formArrayName="productItems">
      <div
        *ngFor="let productGroup of productItems.controls; let i = index"
        [formGroupName]="i"
        class="nestedFb"
      >
        <h2>Ürün {{ i + 1 }}</h2>

        <label for="productId">Ürün Seçiniz</label>
        <select formControlName="productId" class="form-select my-2 mb-3">
          <option *ngFor="let item of productList" [value]="item.id">
            {{ item.productName }}
          </option>
        </select>

        <div class="count">
          <label for="txtCount" class="form-label">Adet</label>
          <input
            formControlName="count"
            type="number"
            class="form-control"
            id="txtCount"
            aria-describedby="count"
          />
        </div>

        <div>
          <button type="button" (click)="removeProduct(i)">Ürünü Kaldır</button>
        </div>
      </div>
    </div>

    <button type="button" (click)="addProduct()">Add Product</button>
    <button type="submit">Submit</button>
  </form> -->
<!-- <form [formGroup]="saleProductForm" (ngSubmit)="submit()">
    <div>
      <label for="customerId">Müşteri Seçiniz</label>
      <select formControlName="customerId" class="form-select my-2 mb-3">
        @for (item of customerList; track $index) {
        <option [value]="item.id">{{ item.companyName }}</option>
        }
      </select>
    </div>
    <div>
      <label for="userId">Personel Seçiniz</label>
      <select formControlName="userId" class="form-select my-2 mb-3">
        @for (item of employeeList; track $index) {
        <option [value]="item.id">
          {{ item.firstName + " " + item.lastName }}
        </option>
        }
      </select>
    </div>

    <div formArrayName="productItems">
      <div
        *ngFor="let item of productItems.controls; let i = index"
        [formGroupName]="i"
      >
        <h2>Ürün {{ i + 1 }}</h2>
        <label for="productId">Ürün Seçiniz</label>
        <select formControlName="productId" class="form-select my-2 mb-3">
          @for (item of productList; track $index) {
          <option [value]="item.id">{{ item.productName }}</option>
          }
        </select>
        <div>
          <label for="count" class="form-label">Adet</label>
          <input
            formControlName="count"
            type="number"
            class="form-control"
            id="count"
          />
        </div>
        <button type="button" (click)="removeProduct(i)">Ürünü Kaldır</button>
      </div>
    </div>

    <button type="button" (click)="addProduct()">Ürün Ekle</button>
    <button type="submit">Satışı Tamamla</button>
  </form> -->
<!-- </div> -->

<!-- <div
  style="
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  "
>
  <form [formGroup]="saleProductForm" (ngSubmit)="submit()">
    <div class="nestedFb">
      <label for="customerId">Müşteri Seçiniz</label>
      <select formControlName="customerId" class="form-select my-2 mb-3">
        <option *ngFor="let item of customerList" [value]="item.id">
          {{ item.companyName }}
        </option>
      </select>
      <label for="userId">Personel Seçiniz</label>
      <select formControlName="userId" class="form-select my-2 mb-3">
        <option *ngFor="let item of employeeList" [value]="item.id">
          {{ item.firstName + " " + item.lastName }}
        </option>
      </select>
    </div>

    <div formArrayName="productItems">
      <div
        *ngFor="let productGroup of productItems.controls; let i = index"
        [formGroupName]="i"
        class="nestedFb"
      >
        <h2>Ürün {{ i + 1 }}</h2>

        <label for="productId">Ürün Seçiniz</label>
        <select formControlName="productId" class="form-select my-2 mb-3">
          <option *ngFor="let item of productList" [value]="item.id">
            {{ item.productName }}
          </option>
        </select>

        <div class="count">
          <label for="txtCount" class="form-label">Adet</label>
          <input
            formControlName="count"
            type="number"
            class="form-control"
            id="txtCount"
            aria-describedby="count"
          />
        </div>

        <div>
          <button type="button" (click)="removeProduct(i)">Ürünü Kaldır</button>
        </div>
      </div>
    </div>

    <button type="button" (click)="addProduct()">Ürün Ekle</button>
    <button type="submit">Satışı Tamamla</button>
  </form>
</div> -->

<div class="container">
  <h1>ÜRÜN ÇIKIŞI</h1>
  <!-- <p>Have any questions or suggestions? Drop us a message</p> -->
  <form [formGroup]="saleProductForm" (ngSubmit)="submit()">
    <div class="row">
      <div class="column">
        <label for="customerId">Müşteri Seçiniz</label>
        <select formControlName="customerId" class="form-select my-2 mb-3">
          <option *ngFor="let item of customerList" [value]="item.id">
            {{ item.companyName }}
          </option>
        </select>
      </div>
      <div class="column">
        <label for="userId">Personel Seçiniz</label>
        <select formControlName="userId" class="form-select my-2 mb-3">
          <option *ngFor="let item of employeeList" [value]="item.id">
            {{ item.firstName + " " + item.lastName }}
          </option>
        </select>
      </div>
    </div>
    <div class="row" formArrayName="productItems">
      <div
        *ngFor="let productGroup of productItems.controls; let i = index"
        [formGroupName]="i"
      >
        <div class="column">
          <label for="productId">Ürün Seçiniz</label>
          <select formControlName="productId" class="form-select my-2 mb-3">
            <option *ngFor="let item of productList" [value]="item.id">
              {{ item.productName }}
            </option>
          </select>
        </div>
        <div class="column">
          <label for="txtCount" class="form-label">Adet</label>
          <input
            formControlName="count"
            type="number"
            class="form-control"
            id="txtCount"
            aria-describedby="count"
          />
        </div>

        <div>
          <button type="button" (click)="removeProduct(i)">Ürünü Kaldır</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <label for="issue">Sipariş Notu</label>
        <textarea
          id="issue"
          placeholder="Notunuzu burada ayrıntılı olarak açıklayın"
          rows="3"
        ></textarea>
      </div>
    </div>
    <button type="button" (click)="addProduct()">Ürün Ekle</button>
    <button type="submit">Tamamla</button>
  </form>
</div>
