<!-- TABLE MODAL -->
<app-table
  [currentUrl]="currentUrl"
  [tableData]="tableData"
  [columns]="columns"
  (navigateCreateDialogEvent)="openCreateCategoryDialog()"
  (navigateUpdateDialogEvent)="openUpdateCategoryDialog($event)"
  (navigateDeleteDialogEvent)="setSelectedCategory($event.id)"
  (navigateSettingsEvent)="navigateSettings()"
  (refreshEvent)="ngOnInit()"
  (paginationEvent)="onPageChange($event)"
></app-table>

<!-- DELETE MODAL -->
<app-delete-modal
  [description]="deleteDialogDescription"
  (deleteEvent)="deleteCategory(id)"
></app-delete-modal>
